# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/
reports/
docs/_build/
**/.ipynb_checkpoints
*.json
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Virtual envs
.venv/
.venv_windsurf/

# IDE/editor
.idea/
.DS_Store
Thumbs.db
.vscode/
